<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        margin: 5% 5%;
        height: 80%;
        width: 80%;
      }
    </style>
  </head>
  <body>
    
    <div id="map"></div>
    <script>

      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};

        // var locations = {"karachi", "kabul"}

        karachi_lat_long = { "lat" : 24.8614622,
               "lng" : 67.0099388
        };

        kabul_lat_long = {"lat" : 34.5553494,
               "lng" : 69.207486 };

        // ok geocode these fuckers

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: karachi_lat_long
        });


        {% for attack in attacks %}

            latlng = new google.maps.LatLng("{{ attack.location.lat }}", "{{ attack.location.lng }}");
            new google.maps.Marker({
                position: latlng,
                map: map,
                title:"{{ attack.description }}"
            });

        {% endfor %}

        // var marker = new google.maps.Marker({
        //   position: kabul_lat_long,
        //   map: map,
        //   title: 'Hello World!'
        // });

        // var marker2 = new google.maps.Marker({
        //   position: karachi_lat_long,
        //   map: map,
        //   title: 'a second hello!'
        // });


      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key= AIzaSyAApYWyjVYCXs3P91Fn7NEu85XUu9Jpvm0 &callback=initMap">
    </script>
  </body>
</html>
